.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f3fffe;
  }
.products-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 70%;
    margin: 10px auto;
    padding: 10px 0;
  }